<%= link_to listing do %>
  <div class="w-full"> 
    <%= image_tag(listing.images.first, class: "w-full h-64 rounded-lg overflow-hidden object") if listing.images.any? %>
    <p class="text-lg font-bold"> <%= listing.title %> </p>
  </div>
<% end %>