<div class="flex flex-col">
<%= link_to "Back to listing", @listing, class: "bg-gray-100 rounded-lg border-2 border-gray-900 mr-auto p-2" %>
<br/>
<div class="grid grid-cols-4 gap-4">
<% @listing.images.each do |image| %>
<%= image_tag image, class: "w-96 h-64 object-cover" %>
<% end %>
</div>
</div>