<div class="flex gap-8 mx-auto rounded-lg overflow-hidden relative">
  <%= image_tag @listing.images.first, class: "w-70 h-80" %>
  <div class="grid grid-cols-2 gap-8 flex-wrap">
    <% @listing.images[1..4].each do |image| %>
      <%= image_tag image, class: "h-36" %>
    <% end %>
  </div>
  <%= link_to "show all photos", photos_listing_path(@listing), class: "absolute bottom-4 right-4 bg-white rounded-lg p-2" %>
</div>
